![INTTRVU_logo_Jupyter_notebook.jpg](attachment:648ea659-7592-45c1-bd76-18800c6768cd.jpg)

In [ ]:
 ### Please name your assignment file using the following format: Your Name_Assignment_Assignment Number. EX: INTTRVU_Assignment_1

# kindly perform coding in the blank cells provided below the questions. Once completed, please share this python file for review on mentor@inttrvu.ai

### 1. Create a list with numbers 1 to 10 in it ([1,2,3….10]) Write a for loop on this list to sum up all numbers in the list except 5 and 7. Print the result

In [1]:
l=[1,2,3,4,5,6,7,8,9,10]
k=len(l)
s=0
for i in range(k):
    if l[i]!=5 and l[i]!=7:
        s=s+l[i]
print(s)

43

### 2. Write a while loop to create a list with numbers from 1 to 100. When inserting new number in the list, skip every number which is divisible by 3. Print the result. Tip: To check whether number is divisible by 3 you can use % operator

In [2]:
k=1
i=1
while i<=100:
    if k%3==0:
        k=k+1
    else:
        print(k)
        k=k+1
    i=i+1

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
52
53
55
56
58
59
61
62
64
65
67
68
70
71
73
74
76
77
79
80
82
83
85
86
88
89
91
92
94
95
97
98
100

### 3. Write a program that prints the first 10 natural numbers.

In [3]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

### 4.Write a python code to print the summation of all the numbers from 1 to 100

In [4]:
s=0
for i in range(1,101):
    s=s+i
print(s)

5050

### 5.Write a Python program to find the common elements between two lists.
list1 = [11,2,190,43,23,65,19] list2 = [12,11,121,190,43,23,76,190]

In [5]:
l1 = [11,2,190,43,23,65,19]
l2 = [12,11,121,190,43,23,76,190]
for i in range(len(l1)):
    for j in range(len(l2)):
        if l1[i]==l2[j]:
            print(l1[i],end=" ")
            break

11 190 43 23

### 6.Write a python code to create separate lists of Even and Odd numbers from a list. [21,44,22,878,55,90,17,68,69,91]

In [6]:
l=[21,44,22,878,55,90,17,68,69,91]
k=len(l)
e=[]
od=[]
for i in range(k):
    if l[i]%2==0:
        e.append(l[i])
    else:
        od.append(l[i])
print(e)
print(od)

[44, 22, 878, 90, 68]
[21, 55, 17, 69, 91]

### 7.Calculate the sum of all numbers in a list using a loop. [21,44,767,98,37]

In [7]:
l=[21,44,767,98,37]
k=len(l)
s=0
for i in range(k):
    s=s+l[i]
print(s)

967

### 8. Write a python code to check if a number is positive, negative, or zero.

In [8]:
n=0
if n>0:
    print("pos")
elif n<0:
    print("neg")
else:
    print("Zero")

Zero

### 9. Find the length of the longest word in a string: ‘Data Science and Machine Learning’

In [9]:
s='Data Science and Machine Learning'
k=s.split()
c=0
for i in k:
    if len(i)>c:
        c=len(i)
print(c)

8

### 10.Write a program to calculate the sum of squares of all numbers from 1 to 10 using a while loop.

In [10]:
i=1
s=0
while i<11:
    s=s+i**2
    i=i+1
print(s)

385