### 1. Create two numbers. One float another integer. Add two numbers and print the result in integer format.

a=int(input())
b=float(input())
c=a+b
print(int(c))

In [3]:
a=int(input())
b=float(input())
c=a+b
print(int(c))

2
2.5
4

### 2. “i live in india since my childhood”. Count number of 'i' in this text

In [1]:
s="i live in india since my childhood"
c=0
for k in s:
    if k=='i':
        c=c+1
print(c)

7

### 3. How do you check if a variable is of a certain data type in Python?

In [4]:
s="i live in india since my childhood"
print(type(s))

<class 'str'>

### 4. Write a python code to find last 4 characters of a string : 'Machine Learning'

In [5]:
s="Machine Learning"
print(s[-4::])

ning

### 5. Write a python code to remove blank space from string : 'P y t h o n'

In [6]:
s= 'P y t h o n'
k=s.split()
print("".join(k))

Python

### 6.Write a python code to remove trailing space from string: ‘Machine Learning. ’

In [7]:
s='Machine Learning. '
k=s.rstrip()
print(k)

Machine Learning.

### 7. Write a python code to check given character is digit or not : 265

In [8]:
s='265'
if s.isdigit():
    print("Yes")
else:
    print("No")

Yes

### 8. Write a python code to Convert a string to lowercase : ‘MACHINE LEARNING’

In [9]:
s='MACHINE LEARNING'
k=s.lower()
print(k)

machine learning

### 9.Write a python code to count the number of occurrences of a character ‘e’ in a string. ‘Machine Learning and Deep Learning’

In [10]:
s= 'Machine Learning and Deep Learning'
c=0
for i in s:
    if i=='e':
        c=c+1
print(c)

5

### 10. Write a python code to check if a string contains only alphabetic characters. String = ‘HelloPython’

In [11]:
s='HelloPython'
if s.isalpha():
    print("YES")
else:
    print("NO")

YES

### 11. calculate the absolute value of a number -564

In [12]:
n=-564
print(abs(n))

564

### 12. Create a list with numbers 1 to 10 and sort it in ascending and descending order.

In [13]:
l=[4,5,6,1,2,3,7,8,9,10]
l.sort()
print(l)
l.sort(reverse=True)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 13. data = [1,2,3,4,6,7,7,8,9,9]. Drop duplicate values from this list and print the remaining numbers

In [14]:
l= [1,2,3,4,6,7,7,8,9,9]
m=list(set(l))
print(m)

[1, 2, 3, 4, 6, 7, 8, 9]

### 14.Write a python code to find the second largest number in a list: [21,44,767,98,37,106,345,87]

In [15]:
l= [21,44,767,98,37,106,345,87]
l.sort()
k=len(l)
for i in range(k):
    print(l[-2])
    break

345

### 15.Write a Python program to find the maximum and minimum values in a list. list1 = [ 21,44,767,98,37]

In [16]:
l=[ 21,44,767,98,37]
l.sort()
print(l[-1])
print(l[0])

767
21

### 16. Create two separate dictionaries and Merge them.

In [17]:
d={'a':1,'b':2,'c':3}
d1={'e':5,'f':6,'g':7}
merge=d.copy()
merge.update(d1)
print(merge)

{'a': 1, 'b': 2, 'c': 3, 'e': 5, 'f': 6, 'g': 7}

### 17. Write a Python program to create a dictionary where keys are integers from 1 to 5 and corresponding values are their squares.

In [18]:
squ = {x: x**2 for x in range(1, 6)}
print(squ)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### 18. Create a Python dictionary with keys as cars and values as their respective prices.
car_models = ["Toyota Camry", "Honda Civic", "Ford Mustang", "Chevrolet Silverado", "Nissan Altima"]
car_prices = [2500000, 2200000, 4000000, 3500000, 2300000]

In [19]:
car_models = ["Toyota Camry", "Honda Civic", "Ford Mustang", "Chevrolet Silverado", "Nissan Altima"]
car_prices = [2500000, 2200000, 4000000, 3500000, 2300000]
d={}
for m,p in zip(car_models,car_prices):
    d[m]=p
print(d)

{'Toyota Camry': 2500000, 'Honda Civic': 2200000, 'Ford Mustang': 4000000, 'Chevrolet Silverado': 3500000, 'Nissan Altima': 2300000}

### 19.Create a dictionary with 5 key pair values. Key would be a grocery item name and value will be its price (any value in the range of 10 to 1000). (take any grocery items) Write a for loop to iterate over a dictionary and print key-value pairs. While printing if the value is greater Rs. 500 then print a line – “this is a costly item.”

In [20]:
grocery_items = {
    "Milk": 50,
    "Bread": 40,
    "Cheese": 600,
    "Eggs": 120,
    "Chicken": 800
}
for item, price in grocery_items.items():
    print("%s: Rs. %d" % (item, price))
    if price > 500:
        print("This is a costly item.")

Milk: Rs. 50
Bread: Rs. 40
Cheese: Rs. 600
This is a costly item.
Eggs: Rs. 120
Chicken: Rs. 800
This is a costly item.

### 20. In the dictionary created in above task delete the key value pairs where price is less than average price of all the items in the dictionary.

In [21]:
grocery_items = {
    "Milk": 50,
    "Bread": 40,
    "Cheese": 600,
    "Eggs": 120,
    "Chicken": 800
}


total_price = sum(grocery_items.values())
num_items = len(grocery_items)
average_price = total_price / num_items


keys_to_delete = [item for item, price in grocery_items.items() if price < average_price]


for key in keys_to_delete:
    del grocery_items[key]


print("Updated dictionary:", grocery_items)

Updated dictionary: {'Cheese': 600, 'Chicken': 800}