In [ ]:
#Write a function char_frequency(s) that takes a string s and returns a dictionary with the frequency of each character in the string.

In [ ]:
def freq_char(s):
    d={}
    for i in s:
        if i in d:
            d[i]=d[i]+1
        else:
            d[i]=1
    return d
s="helloworld"
res=freq_char(s)
print(res)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
#Write a function list_intersection(lst1, lst2) that takes two lists lst1 and lst2 and returns a new list containing the elements that are common to both lists.

In [ ]:
def list_inter(l1,l2):
    a=list(set(l1)&set(l2))
    return a
l1=[4,5,6,7,2,3]
l2=[1,2,3,4,6,7]
k=list_inter(l1,l2)
print(k)

[2, 3, 4, 6, 7]

In [ ]:
#Implement a function count_vowels(s) that takes a string s and returns the number of vowels in the string.

In [ ]:
def vowc(s):
    c=0
    for i in s:
        if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='u':
            c=c+1
        else:
            pass
    return c
s="ajaykarre"
res=vowc(s)
print(res)

4

In [ ]:
#Write a function celsius_to_fahrenheit(celsius) that converts a temperature from Celsius to Fahrenheit.

In [ ]:
def cel_to_fre(c):
    f=(1.8)*c+32
    return f
c=int(input())
res=cel_to_fre(c)
print(int(res))

45
113

In [ ]:
#Write a function find_max(lst) that takes a list of numbers lst and returns the maximum value in the list.

In [ ]:
def find_max(l):
    m=0
    for i in l:
        if m<i:
            m=i
    return m
l=list(map(int,input().split()))
res=find_max(l)
print(res)

1 4 12 4 6 7 8 9 11
12

In [ ]:
#Write a function merge_and_sort(lst1, lst2) that takes two lists lst1 and lst2, merges them into a single list, and returns the sorted result.

In [ ]:
def merge_sort(l1,l2):
    l=l1+l2
    l.sort()
    return l
l1=list(map(int,input().split()))
l2=list(map(int,input().split()))
res=merge_sort(l1,l2)
print(res)

1 2 3 10 9
4 5 6 7 8
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Write a function is_anagram(str1, str2) that checks if two strings are anagrams of each other.

In [ ]:
def anagram(s1,s2):
    s1=sorted(s1)
    s2=sorted(s2)
    if s1==s2:
        return True
    else:
        return False
s1=input()
s2=input()
res=anagram(s1,s2)
print(res)

ajaykarre
karreajay
True

In [ ]:
#Write a function that merges two dictionaries into one.

In [ ]:
def merge(d1,d2):
    m=d1.copy()
    m.update(d2)
    return m
d1={'a':1,'b':2,'c':3,'d':4}
d2={'e':5,'f':6,'g':7,'h':8}
res=merge(d1,d2)
print(res)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8}

In [ ]:
#Write a function that merges two dictionaries into one.

In [ ]:
def merge(d1,d2):
    m=d1.copy()
    m.update(d2)
    return m
d1={'a':1,'b':2,'c':3,'d':4}
d2={'e':5,'f':6,'g':7,'h':8}
res=merge(d1,d2)
print(res)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8}

In [ ]:
#Write a function that filters out the even numbers from a list and returns the odd numbers.

In [ ]:
def list_filter(l):
    k=list(filter(lambda x:x%2!=0,l))
    return k
l=list(map(int,input().split()))
res=list_filter(l)
print(res)

10 9 8 7 6 1 2 3 4 5
[9, 7, 1, 3, 5]

In [ ]:
#Write a function that returns both the minimum and maximum values from a list.

In [ ]:
def min_and_max(l):
    k=min(l)
    h=max(l)
    return k,h
l=list(map(int,input().split()))
res=min_and_max(l)
print(res)

10 6 5 4 3 7
(3, 10)

In [ ]:
#Write a function that finds common elements in two lists.

In [1]:
def find_com(l,l2):
    m=[]
    for i in l:
        if i in l2:
            m.append(i)
    return m
l=list(map(int,input().split()))
l2=list(map(int,input().split()))
res=find_com(l,l2)
print(res)

9 8 7 6 5 4
1 2 3 4 5 6
[6, 5, 4]

In [ ]:
#Write a function that counts the number of each character in a string.

In [2]:
def coun(s):
    d={}
    for i in s:
        if i in d:
            d[i]=d[i]+1
        else:
            d[i]=1
    return d
s=input()
res=coun(s)
print(res)

ajaykarre
{'a': 3, 'j': 1, 'y': 1, 'k': 1, 'r': 2, 'e': 1}

In [ ]:
#Write a function that removes all vowels from a string.

In [3]:
def rem_vow(s):
    for i in s:
        if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='u':
            s=s.replace(i,"")
    return s
s=input()
res=rem_vow(s)
print(res)

ramukareiou
rmkr